#Home {
  width: 100vw;
  height: 125px;
}

nav {
  position: fixed;
  right: 0;
  margin-right: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
}

nav li {
  margin: 0;
  padding: 20px;
}

nav a,
.nav-link {
  text-decoration: none;
  color: black;
  font-family: "Kodchasan";
  font-size: 20px;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav-link.active {
  border-bottom: 2px solid rgb(85, 17, 232);
}

.nav-link:hover,
.nav-btn:hover {
  color: rgb(85, 17, 232);
  border-bottom: 2px solid rgb(85, 17, 232);
}

.home-btn {
  position: fixed;
  left: 0;
  margin-left: 50px;
}

.home-btn ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
}

.home-btn li {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.home-btn a,
.home-btn button {
  text-decoration: none;
  color: black;
  font-family: "Sometype Mono";
  font-size: 40px;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.home-btn a:hover,
.home-btn button:hover {
  color: rgb(85, 17, 232);
}
