@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700");
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900");

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.header-container h1 {
  font-weight: 500;
}

.project-item-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
}

#Projects {
  opacity: 1;
  transform: translateY(-90px);
}
